*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.section-header{

background:url(Background\ photo.jpg) center no-repeat ;
background-size: cover;
background-size: cover;
position: relative;

}
.section-header:before {

	content: '';

	display: block;

	width: 100%;

	height: 100%;

	position: absolute;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	background-color:rgba(0, 0, 0, .7);
	background: linear-gradient(transparent 80%, #15213F;);
	border:none;

}

.section-inner{
	height: 100vh;
	position: relative;
	display: flex;
	z-index: 10;
	flex-direction: column;
}
.section-header-logo{
	font-weight: bold;
	font-style: 32px;
	flex-shrink: 1;
	padding-top: 50px;
	color:#15213F;	
	padding-left: 50px;
	font-size: 32px;
}
.section-header-content{
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.section-header-wrapper{	
margin: 0 auto;
}

.section-header-wrapper-title{
	text-align: center;
	color:#fff;
	font-family: Bebas Neue;
	font-size: 70px;
	text-transform: capitalize;	
	font-weight: bold;
	line-height: 150px;
	margin-bottom: 100px;
}
.section-header-wrapper-form{
	display: flex;
}
.section-header-wrapper-form-input{
	flex:1;
	padding-right: 40px;
}
.section-header-wrapper-form-input input{
	width: 100%;
	border:none;
	background:rgba(255,255,255,.25);
	color:white;
	font-size: 18px;
	margin: 0;
	padding: 18px 22px;
	outline: none;
	border-radius: 5px;

}
.section-header-wrapper-form-input input::placeholder{
	color:#fff;
}
.section-header-wrapper-form-button button{
	margin: 0;
	font-size: 20px;
	padding: 18px 22px;
	border:none;
	outline: none;
	color:white;
	border-radius: 5px;
	background:linear-gradient(to right,#fe985b,#fe4fa7);


}
.section-header-wrapper-form-button button:hover{
	transition: 4s linear;
	background:linear-gradient(to right,#fe4fa7,#fe985b);
}




.section-about{
	padding-top: 150px;
	background: #15213F;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-about-2{
	width: 1400px;
	margin-bottom: 130px;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.section-about-content{
	width: 45%;
	display: flex;
	flex-direction: column;
	text-align: center;	
	align-items: center;	
	justify-content: center;
	
	
}


.section-about-photo{
	width: 30%;
}
.section-about-photo-2{
	justify-content: space-between;
	margin-right: 0 auto;
}
.section-about-content-title{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
padding-bottom: 40px;
color: #FFFFFF;
opacity: 0.8;
}


.section-about-content-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
flex: none;
order: 2;
align-self: center;
flex-grow: 0;
}
.section-about-content-link{
	font-family: 'Aladin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;	
color: #FBD784;
text-decoration: none;
order: 3;
padding-top:40px;
}
.section-about-content-link:hover{
	color: #fe4fa7;
}

.button {
	display: inline-flex;
	height: 55px;
	width: 190px;
	border: 1px solid #fe4fa7;
	margin: 20px 20px 20px 20px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
}
#button-6 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

#button-6 a {
	position: relative;
	transition: all .45s ease-Out; }

#spin {
	width: 0;
	height: 0;
	opacity: 0;
	left: 70px;
	top: 20px;
	transform: rotate(0deg);
	background: none;
	position: absolute;
	transition: all .5s ease-Out;
}
#button-6:hover #spin {
	width: 200%;
	height: 500%;
	opacity: 1;
	left: -70px;
	top: -70px;
	background:linear-gradient(to right,#fe985b,#fe4fa7);
	transform: rotate(80deg);
}

#button-6:hover a {
	color: #2D3142;
}

.section-footer{
	background: #15213F;
	padding: 100px 0px;
}

.section-footer-content{
	display: flex;
	justify-content: space-evenly;
}

.section-footer-content-1 a{
	font-family: 'Aladin';
	font-style: oblique;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}
.section-footer-content-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer_link_title{
	padding-bottom: 20px;

}
.footer_link_title a{
text-decoration: none;
font-family: 'Aladin';
font-style: oblique;
font-weight: 400;
font-size: 24px;
line-height: 25px;
color: #FBD784;
}
.footer_link_text{
padding-top: 15px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 32px;
color: #FFFFFF;

}


/* Media===================*/

@media(max-width:1200px){
	/*header*/
	.section-header-logo{
		font-size: 24px;
	}
	.section-header-wrapper-title{
		font-size: 40px;
		margin-bottom: 40px;
		line-height: 110px;
}
	.section-header-wrapper-form-input{
		padding-right: 30px;
		
	}
	.section-header-wrapper-form-input input{
		font-size: 12px;
		width: 80%;
		padding: 13px 18px;
	}
	.section-header-wrapper-form-button button{
		padding: 13px 18px;
		width: 100%;
		font-size: 12px;
	}

	/*about*/
	.section-about-2{
		width: 900px;	
		margin-bottom: 100px;
		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
	}
	.section-about-content{
		width: 80%;
		margin-bottom: 50px;
	}
	.section-about-content-title{
		font-size: 42px;
	}
	.section-about-content-text{
		font-style: 14pxs;
	}
	.section-about-photo{
		width: 100%;
	}
	.section-about-photo-2{
		margin-bottom: 50px;
		order: 1;
	}
}
@media(max-width:991px){
		/*header*/
		.section-header-logo{
			font-size: 24px;
		}
		.section-header-wrapper-title{
			font-size: 40px;
			margin-bottom: 40px;
			line-height: 110px;
	}
		.section-header-wrapper-form-input{
			padding-right: 30px;
			
		}
		.section-header-wrapper-form-input input{
			font-size: 14px;
			padding: 13px 18px;
			border-radius: 5px;
		}
		.section-header-wrapper-form-button button{
			padding: 13px 18px;
			font-size: 14px;
		}
	
		/*about*/
		.section-about-2{
			width:767px;	
			margin-bottom: 20px;
			justify-content: center;
			text-align: center;
			align-items: center;
			flex-direction: column;
		}
		.section-about-content-title{
			font-size: 42px;
		}
		.section-about-content-text{
			font-style: 14pxs;
		}
		.section-about-content{
			width: 80%;
			margin-bottom: 40px;
		}
		.section-about-photo img{
			max-width: 460px;
		}
		.section-about-photo-2{
			margin-bottom: 40px;
			order: 1;
		}
		.section-about-photo-2 img{
			max-width: 460px;
		}
		/*footer*/
		.section-footer{
			padding: 40px 0px;
		}
		.section-footer-content{
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
		.section-footer-content-1{
			margin-bottom: 30px;
			text-align: center;
		}
		.section-footer-content-2{
			margin-bottom: 20px;
		}
		.section-footer-content-3{
			margin-bottom: 20px;
		}
		.footer_link_text{
			text-align: center;
		}
			.section-footer{
		padding: 40px 0px;
	}
}
@media(max-width:767px){
	/*header*/
	.section-header-logo{
		font-size: 20px;
	}
	.section-header-wrapper-title{
		width: 100%;
		font-size: 28px;
		margin-bottom: 30px;
		line-height: 80px;
}
	.section-header-wrapper-form-input{
		padding-right: 10px;
		
	}
	.section-header-wrapper-form-input input{
		font-size: 14px;
		padding: 13px 18px;
		border-radius: 5px;
	}
	.section-header-wrapper-form-button button{
		padding: 13px 18px;
		font-size: 14px;
	}

	/*about*/
	.section-about-2{
		width:600px;	
		margin-bottom: 20px;
		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
	}
	.section-about-content-title{
		font-size: 42px;
	}
	.section-about-content-text{
		font-style: 14pxs;
	}
	.section-about-content{
		width: 80%;
		margin-bottom: 40px;
	}
	.section-about-photo img{
		max-width: 420px;
		
	}
	.section-about-photo-2{
		margin-bottom: 40px;
		order: 1;
	}
	.section-about-photo-2 img{
		max-width: 420px;
	}
	/*footer*/
	.section-footer{
		padding: 40px 0px;
	}
	.section-footer-content{
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.section-footer-content-1{
		margin-bottom: 30px;
		text-align: center;
	}
	.section-footer-content-2{
		margin-bottom: 20px;
	}
	.section-footer-content-3{
		margin-bottom: 20px;
	}
	.footer_link_text{
		text-align: center;
	}
}
@media(max-width:600px){
	.section-header-logo{
		font-size: 20px;
	}
	.section-header-wrapper{
		width: 70%;
	}
	.section-header-wrapper-form{
		flex-direction: column;

	}
	.section-header-wrapper-title{
		font-size: 28px;
		line-height: 40px;
		padding-bottom: 80px;
}
	.section-header-wrapper-form-input{
		padding-bottom: 70px;
		justify-content: center;
		align-items: center;
		text-align: center;

	}
	.section-header-wrapper-form-input input{
		font-size: 14px;
		padding: 13px 18px;
		border-radius: 5px;
	}
	.section-header-wrapper-form-button button{
		max-width: 100%;
		width: 100%;
		padding: 13px 18px;
		font-size: 14px;
	}

	/*about*/
	.section-about{
		padding-top: 70px;
	}
	.section-about-2{
		width:500px;	
		margin-bottom: 40px;

		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
	}
	.section-about-content-title{
		font-size: 42px;
	}
	.section-about-content-text{
		font-style: 14pxs;
	}
	.section-about-content{
		width: 80%;
		margin-bottom: 40px;
	}
	.section-about-photo img{
		max-width: 320px;
		
	}
	.section-about-photo-2{
		margin-bottom: 40px;
		order: 1;
	}
	.section-about-photo-2 img{
		max-width: 320px;
	}
	/*footer*/
	.section-footer{
		padding: 40px 0px;
	}
	.section-footer-content{
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.section-footer-content-1{
		margin-bottom: 30px;
		text-align: center;
	}
	.section-footer-content-2{
		margin-bottom: 20px;
	}
	.section-footer-content-3{
		margin-bottom: 20px;
	}
	.footer_link_text{
		text-align: center;
	}
}